@model IEnumerable<CourierWebApp.Models.Units>

@{
    ViewData["Title"] = "Index";
}

<h1>Мерни единици</h1>

<p>За да създадете доставка, първо трябва да добавите желаната мерна единица.</p>

<p>
	<a asp-action="Create">Добави мерна единица</a>
</p>

<p>
	<a class="btn btn-primary" asp-controller="Deliveries" asp-action="Index">Доставки</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
