@model IEnumerable<CourierWebApp.Models.Delivery>

@{
    ViewData["Title"] = "Index";
}

<h1>Deliveries</h1>

<p>To create a new delivery, you need to create at least one customer, item, and unit beforehand</p>

<div class="d-flex mb-3">
    <a class="btn btn-outline-primary mr-3" asp-controller="Customers" asp-action="Index">Create a new customer</a>
    <a class="btn btn-outline-primary mr-3" asp-controller="Items" asp-action="Index">Create a new item</a>
    <a class="btn btn-outline-primary mr-3" asp-controller="Units" asp-action="Index">Create a new unit</a>
</div>

<div class="d-flex mb-4">
    <a class="btn btn-primary mr-3" asp-action="Create">Create a new delivery</a>
    <a class="btn btn-secondary" asp-action="ShowSearchForm">Search deliveries</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Description)
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
